<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'task_board', :plugin => 'scrum_task_board' %>
<% end %>

<%= html_title "#{@project.name} - Task board" -%>

<div id="version_container">
<% unless @project.issues.empty? %>
<ul class="version_holder">
  <li><%= link_to "Issues with no versions", 
                  :controller => 'task_boards', 
                  :action => 'show', 
                  :id => @project.id %></li>


  <% @project.versions.each do |v| %>

  <li>
    <%= link_to "#{v.name} <br/>Issues: #{v.fixed_issues.count}<br/>Features: #{v.feature_count}<br/>Tasks: #{v.task_count}<br/>Bugs: #{v.bug_count}",
                    :controller => "task_boards",
                    :action => "show",
                    :version_id => v.id %>
  </li>


  <% end %>
<% else %>

<h3>This project has no issues yet.</h3>

<% end %>
</ul>
</div>

