/***** INDEX *****/

#version_container {
  width: 100%;

}

  .version_holder li{
    float:left;
    width:300px;
    border: 1px solid #004480;
    padding: 10px;
    margin: 10px;
    height: 120px;
    background: #F9F9F9;
    list-style: none;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
  }
  
  .version_holder li:hover{
    margin: 8px 12px 12px 8px;
    background: #fff;
    background:  -moz-linear-gradient(top, #fff, #E9E9E9);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#E9E9E9));
    
    -moz-box-shadow: 2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px #888;
    box-shadow: 2px 2px 2px #888;
  }
  
  .version_holder li a:hover {
    text-decoration: none !important;
    font-size: 1.2em;
  }

/***** SHOW *****/

#task_board { 
  width: 100%;
  empty-cells: show;
  table-layout: fixed;
}
#task_board .hovered { background: #FEFF9F; }
#task_board .story_subject { font-size: 10px; margin-top: 9px; }
#task_board tr th { background: #fff; }
#task_board tr th, .status-item { vertical-align: top; border: 1px solid #ddd; border-width: 1px 1px 1px 0; }
#task_board tr td {
  vertical-align: top;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
  
#task_board ul { padding: 0; list-style: none; margin: 5px 0 0 0; }
#task_board ul li { margin-bottom: 10px; background: #FEFEFE; }
#task_board ul li p { font-size:10px; margin-bottom: 4px; padding-bottom:2px; color: #101010;}
#task_board ul li .pourcent { border-bottom: 0; margin-bottom: 0; }
#task_board .progress { float:none; }    
#task_board .task_board_task {
  border-left: 0;
  padding-right: 10px;
}


.status-item{
  display:inline-block;
  float:left;
  text-align: center;
  padding: 0 2px 2px 0;
  font-weight: bold;
  background: #fff;
}

#task_board .task_board_feature_parent, #task_board .task_board_task_parent {
  padding: 2px;
}

#task_board .task_board_feature_parent {
  border: 1px solid #0EA94B;
}

.task_board_feature_parent_current_is_assigned {
  border: 3px solid #FFCC33;
/*  padding: 2px;*/
}

#task_board .task_board_task_parent {
  border: 1px solid #5081AA;
}


#task_board .task_board_feature_data .issue_number, #task_board .task_board_task_data .issue_number, #task_board .task_board_bug_data .issue_number{
  padding:4px;
}

#task_board .task_board_feature_data .issue_number a, #task_board .task_board_task_data .issue_number a, #task_board .task_board_bug_data .issue_number a {
  color: #f1f1f1;
  font-size: 10px;
}


#task_board .task_board_feature_data .issue_number{
  background: #0EA94B;
}  

#task_board .task_board_task_data .issue_number{
  background: #5081AA;
} 

#task_board .task_board_support_data .issue_number{
  background: #3C03EE;
} 

#task_board .task_board_bug_data .issue_number{
  background: #5F5F5F;
} 

#task_board .task_board_data {
  background: #fefefe;
  -moz-box-shadow: 2px 2px 2px #818181;
  -webkit-box-shadow: 2px 2px 2px #818181;
  box-shadow: 2px 2px 2px #818181;
  margin: 6px 2px;
  cursor: move;
  opacity: 0.9;
}

#task_board .task_board_data:hover {
  -moz-box-shadow: 2px 2px 2px #515151;
  -webkit-box-shadow: 2px 2px 2px #515151;
  box-shadow: 2px 2px 2px #515151;
  opacity: 1;
}

#task_board .task_board_data p {
  padding: 0;
  margin: 0;
}

#task_board .no_drag, #task_board .no_drag:hover {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
  cursor: default;
}

#task_board a:hover {
  text-decoration: none;
}
 
#task_board .show_row{
  text-transform: uppercase;
  font-size: 8px;
} 

.current_data .assignee {
  background: #d0d0d0;
  font-weight: bold;
  height: 12px;
}

.assignee select {
  background: #d0d0d0;
  font-weight: bold;
  height: 17px;
  border: 0;
  display: inline-block;
}

.current_data .status {
  font-style: italic;
}

.status select {
  border: 0;
  margin-top: 2px;
  display: inline-block;
  width: 100%;
  height: 17px;
}

.current_data .estimate, .estimate input {
  background-color: #b5b5b5;
  height: 12px;
  position: absolute;
  right: 0;
  text-align: center;
  width: 40px;
}

.current_is_assigned {
  border: 2px solid #FFCC33;
/*  color: #f1f1f1;*/
}

/*.task_board_feature.current_is_assigned {*/
/*  background-color: #FFCC33;*/
/*}*/
 
#task_board .task_board_closed {
  color: #ff0000;
  text-align: right;
}

#task_board .edit, #task_board .submit_link, #task_board .cancel, #task_board .toggle_details, #task_board .has_subtasks, #task_board .talk {
  cursor: pointer;
  position: absolute;
  background: #fff;
  width:18px;
  height:18px;
  text-indent:-9999px;
  top: 1px;
  border-radius: 4px;
}

#task_board .issue_number {
  text-align:right;
}

#task_board .edit {
  background: transparent url('../images/edit.png') no-repeat;
  top: 2px;
  left: 4px;
}

#task_board .cancel {
  background: transparent url('../images/false.png') no-repeat;
  left: 2px;
}

#task_board .talk {
  background: transparent url('../images/talk.png') no-repeat;
  height: 15px; width: 15px;
  left: 50px;
  top: 2px;
}

#task_board .submit_link {
  background: transparent url('../images/true.png') no-repeat;
  left: 26px;
}

#task_board .toggle_details.maximized{
  background:  transparent url('../images/zoom_out.png') no-repeat;
  top: 2px;
  left: 26px;
}

#task_board .toggle_details.minimized{
  background:  transparent url('../images/zoom_in.png') no-repeat;
  top: 2px;
  left: 26px;
}

#task_board .has_subtasks {
  background: transparent url('../images/copy.png') no-repeat;
  top: 2px;
  left: 50px;
  outline: 0;
}

#task_board .current_data, #task_board .edit_here, #task_board .current_data, #task_board .talk_here {
  min-height:80px;
  font-family: sans, Arial;
  font-size: 12px;
}

#task_board .talk_here .discussion {
  overflow: auto;
  height: 150px;
  background-color: #ccc;
}

div.discussion .time_ago {
  float: right;
}

#task_board .issue_subject {
  font-size: 11px;
}

#task_board form select {
  font-size: 10px;
}

#task_board .issue_closed {
  color: #333 !important;
}

#task_board .bug_closed {
  color: #ffff00 !important;
}

#fixed_table_header {
  width: 1000%;
  position: fixed;
  top: 0;
  background: #fff;
  display: none;
  z-index: 100;
  border-bottom: 1px dashed #ccc;
}

div.tooltip span.tip{
position: absolute; z-index: 1000;
display: none;
/*top:12px; left:24px;*/
border:1px solid #555;
background-color:#fff;
padding: 4px; width:300px;
font-size: 0.8em;
color:#505050;
}

.tooltip { display: inline; }

div.tooltip span.tip pre, div.tooltip span.tip li pre{
  width: 290px;
  height: 50px;
  overflow: hidden;
  background-color: #FAFAFA;
  border: 1px solid #DADADA;
}

#task_board .min_ul {
  width: 100%;
}

#task_board .min_ul .min_li {
  width: 20%;
  float: left;
}

