/***** INDEX *****/

#version_container {
  width: 100%;

}

  .version_holder li{
    float:left;
    width:300px;
    border: 1px solid #004480;
    padding: 10px;
    margin: 10px;
    height: 90px;
    background: #F9F9F9/*#BEDCE7*/;
    list-style: none;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
  }
  
 /* .version_holder li a { 
    display:block !important;  
    color: #333 !important;
    height: 50px;
    width: 300px;  
    margin: -10px;
    padding: 10px;
  } */
  
  .version_holder li:hover{
    margin: 8px 12px 12px 8px;
    background: #fff;
    background:  -moz-linear-gradient(top, #fff, #E9E9E9);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#E9E9E9));
    
    -moz-box-shadow: 2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px #888;
    box-shadow: 2px 2px 2px #888;
  }
  
  .version_holder li a:hover {
    text-decoration: none !important;
    font-size: 1.2em;
  }

/***** SHOW *****/

#task_board { width: 100%; }
  #task_board .hovered { background: #FEFF9F; }
  #task_board .story_subject { font-size: 10px; margin-top: 9px; }
  #task_board tr th { background: #fff; }
  #task_board tr td, #task_board tr th, .status-item { vertical-align: top; border: 1px dashed #ddd; border-width: 1px 1px 1px 0; }
  
  #task_board ul { padding: 0; list-style: none; margin: 5px 0 0 0; }
    #task_board ul li { margin-bottom: 10px; background: #FEFEFE; }
      #task_board ul li p { /*border-bottom:1px solid #ddd;*/ font-size:10px; margin-bottom: 4px; padding-bottom:2px; color: #101010;}
      #task_board ul li .pourcent { border-bottom: 0; margin-bottom: 0; }
  #task_board .progress { float:none; }    
  #task_board .task_board_task {
    border-left: 0;
    padding-right: 10px;
  }


.status-item{
  display:inline-block;
  float:left;
  text-align: center;
  padding: 0 2px 2px 0;
  font-weight: bold;
  background: #fff;
}

#task_board .task_board_feature_parent, #task_board .task_board_task_parent {
  padding: 2px;
}

#task_board .task_board_feature_parent {
  border: 1px solid #0EA94B;
}

#task_board .task_board_task_parent {
  border: 1px solid #5081AA;
}


#task_board .task_board_feature_data .issue_number, #task_board .task_board_task_data .issue_number, #task_board .task_board_bug_data .issue_number{
  padding:4px;
}

#task_board .task_board_feature_data .issue_number a, #task_board .task_board_task_data .issue_number a, #task_board .task_board_bug_data .issue_number a {
  color: #f1f1f1;
  font-size: 10px;
}


#task_board .task_board_feature_data .issue_number{
  background: #0EA94B;
}  

#task_board .task_board_task_data .issue_number{
  background: #5081AA;
} 

#task_board .task_board_support_data .issue_number{
  background: #3C03EE;
} 

#task_board .task_board_bug_data .issue_number{
  background: #5F5F5F;
} 

/*
#task_board .task_board_task_data:hover, #task_board .has_subtasks{
  color: #010101; 
  border: 1px solid #ff5500; 
  border-left: 6px solid #ff5500;
} 

#task_board .task_board_bug_data:hover {
  border: 1px solid #333;
  border-left: 6px solid #333;
  color: #010101;
} 

#task_board .task_board_feature_data:hover {
  border: 1px solid #0EA94B;
  border-left: 8px solid #0EA94B;
  color: #010101;
} 

#task_board .task_board_support_data:hover {
  border: 1px solid #000099;
  border-left: 6px solid #000099;
  color: #010101;
} 
*/
#task_board .task_board_data {
  background: #fefefe;
  -moz-box-shadow: 2px 2px 2px #818181;
  -webkit-box-shadow: 2px 2px 2px #818181;
  box-shadow: 2px 2px 2px #818181;
  margin: 6px 2px;
  width: 160px;
  cursor: move;
  opacity: 0.9;
}

#task_board .task_board_data:hover {
  -moz-box-shadow: 2px 2px 2px #515151;
  -webkit-box-shadow: 2px 2px 2px #515151;
  box-shadow: 2px 2px 2px #515151;
  opacity: 1;
 /* margin: -72px 2px -72px -2px; */
}

#task_board .task_board_data p {
  padding: 0;
  margin: 0;
}

#task_board .no_drag, #task_board .no_drag:hover {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 4px -4px 4px 4px;
  position: relative;
  cursor: default;
}

#task_board a:hover {
  text-decoration: none;
}
 
#task_board .show_row{
  text-transform: uppercase;
  font-size: 8px;
} 

.task_board_data .assignee {
  background: #ddd;
  padding: 0 4px;
}
 
.task_board_data .current_is_assigned {
  background: #65A7D7;
  color: #f1f1f1;
}
 
#task_board .task_board_closed {
  color: #ff0000;
  text-align: right;
}

#task_board .edit, #task_board .submit_link, #task_board .cancel, #task_board .toggle_details, #task_board .has_subtasks {
  cursor: pointer;
  position: absolute;
  background: #fff;
  width:18px;
  height:18px;
  text-indent:-9999px;
  top: 1px;
  border-radius: 4px;
}

#task_board .issue_number {
  text-align:right;
}

#task_board .edit {
  background: transparent url('../images/edit.png') no-repeat;
  top: 2px;
  left: 4px;
}

#task_board .cancel {
  background: transparent url('../images/false.png') no-repeat;
  left: 2px;
}

#task_board .submit_link {
  background: transparent url('../images/true.png') no-repeat;
  left: 26px;
}

#task_board .toggle_details {
  background:  transparent url('../images/zoom_in.png') no-repeat;
  top: 2px;
  left: 26px;
}

#task_board .toggle_details_min {
  background:  transparent url('../images/zoom_in.png') no-repeat;
  top: 2px;
  left: 26px;
}

#task_board .has_subtasks {
  background: transparent url('../images/copy.png') no-repeat;
  top: 2px;
  left: 50px;
  outline: 0;
}

#task_board .current_data, #task_board .edit_here {
  min-height:80px;
}

#task_board .issue_subject {
  font-size: 11px;
}

#task_board form select {
  font-size: 10px;
}

#task_board .issue_closed {
  color: #333 !important;
}

#task_board .bug_closed {
  color: #ffff00 !important;
}

#fixed_table_header {
  width: 1000%;
  position: fixed;
  top: 0;
  background: #fff;
  display: none;
  z-index: 100;
  border-bottom: 1px dashed #ccc;
}

